In [1]:
import pandas as pd
from pandas import DataFrame

In [2]:
flight = DataFrame()

In [5]:
flight = pd.read_excel(r'/Users/afsanaasha/Desktop/air.xlsx')

In [6]:
flight

   Flight no  departure time  distance  air time  airline
0       2336               2      2330       263        0
1        258              15      2342       258        0
2        806              20      1589       206        1
3       1112              19      1464       173        0
4       1173              33      1747       186        1
5       2336              24      1199       133        1
6       1674              27      2174       238        0
7       1434              35      1535       188        1
8       2324              34      1590       176        1
9        371              52      2724       311        0

#### Description of the classification problem:
The table above is a simple classification problem for identifying airline 0 which is AA and airline 1 which is DL based on their attributes; namely flight no, departure time, distance and airtime. The classification problem that we have here is a new one; created by Afsana Asha. However, the dataset has been collected from an online resource[1].

#### Reference to the source:

[1]Bell, Raven (2019). flights.csv. figshare. Dataset. https://doi.org/10.6084/m9.figshare.9820139.v1